<a href="https://colab.research.google.com/github/Rogerio-mack/Ciencia-de-Dados-e-Aprendizado-de-Maquina/blob/main/ACD_T6_Compare_Regressao_Linear_e_Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Regressão Linear $\times$ Regressão Logística
---

Diferenças e modelos de código.

# Breast+Cancer+Wisconsin+(Diagnostic)

Para descrição dos dados acesse https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)

<img src="https://github.com/Rogerio-mack/Ciencia-de-Dados-e-Aprendizado-de-Maquina/blob/main/figuras/linearregressionlogitbreast1.PNG?raw=true" width=1200, align="right">

# Dados

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/TIC/breast-cancer-wisconsin.csv')
df = df[['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean']] # vamos empregar apenas uma parte dos dados
df.head()

  diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean
0         M        17.99         10.38          122.80     1001.0
1         M        20.57         17.77          132.90     1326.0
2         M        19.69         21.25          130.00     1203.0
3         M        11.42         20.38           77.58      386.1
4         M        20.29         14.34          135.10     1297.0

# Regressão Linear

$$ y_\text{pred} = \text{area_mean}_\text{pred} = a_0 + a_1	\text{radius_mean}	+ a_2 \text{texture_mean}	+ a_3 \text{perimeter_mean} $$

In [3]:
import statsmodels.formula.api as sm

# Definição
lm = sm.ols(formula='area_mean ~ radius_mean + texture_mean	+ perimeter_mean', data=df)

# Treinamento
lm = lm.fit()

# Avaliação
print(lm.summary())

# Predição
X_new = pd.DataFrame({'radius_mean': [15.1], 'texture_mean': [15.8], 'perimeter_mean': [90]  })
y_pred = lm.predict(X_new)

print(5*'\n' + 'x = ' , X_new, '\npredição = ', y_pred[0])

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                            OLS Regression Results
==============================================================================
Dep. Variable:              area_mean   R-squared:                       0.975
Model:                            OLS   Adj. R-squared:                  0.975
Method:                 Least Squares   F-statistic:                     7421.
Date:                Wed, 30 Mar 2022   Prob (F-statistic):               0.00
Time:                        23:10:20   Log-Likelihood:                -3090.8
No. Observations:                 569   AIC:                             6190.
Df Residuals:                     565   BIC:                             6207.
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       -714.9150     15.061    -47.468      0.000    -744.497    -685.333
radius_mean       69.0603     10.131      6.817      0.000      49.161      88.959
texture_mean      -0.0470      0.576     -0.082      0.935      -1.177       1.083
perimeter_mean     4.2958      1.472      2.918      0.004       1.404       7.188
==============================================================================
Omnibus:                      473.868   Durbin-Watson:                   1.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14085.580
Skew:                           3.474   Prob(JB):                         0.00
Kurtosis:                      26.363   Cond. No.                         700.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.





x =     radius_mean  texture_mean  perimeter_mean
0         15.1          15.8              90
predição =  713.7702034152111

# Regressão Logística

$$ y_\text{pred} = P(\text{diagnosis}=B) = \frac{exp( a_0 + a_1	\text{radius_mean}	+ a_2 \text{texture_mean}	+ a_3 \text{perimeter_mean})}{1 + exp( a_0 + a_1	\text{radius_mean}	+ a_2 \text{texture_mean}	+ a_3 \text{perimeter_mean})}$$

## Modelo simples sem separação dos conjuntos de treinamento e teste

In [8]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

# Entradas e Saídas
X = df[['radius_mean', 'texture_mean', 'perimeter_mean']]
y = df['diagnosis']

# Definição
# clf = LogisticRegression()
# clf = KNeighborsClassifier(5)
clf = DecisionTreeClassifier(random_state=1984)

# Treinamento
clf.fit(X,y)

# Avaliação
y_pred = clf.predict(X)

print(sum(y_pred == y) / len(y))

# Predição
X_new = pd.DataFrame({'radius_mean': [15.1], 'texture_mean': [15.8], 'perimeter_mean': [90]  })
y_pred_case = clf.predict(X_new)

print(5*'\n' + 'x = ' , X_new, '\npredição = ', y_pred_case)

1.0





x =     radius_mean  texture_mean  perimeter_mean
0         15.1          15.8              90
predição =  ['B']

In [9]:
df['y_pred'] = y_pred 
df.head()

  diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean y_pred
0         M        17.99         10.38          122.80     1001.0      M
1         M        20.57         17.77          132.90     1326.0      M
2         M        19.69         21.25          130.00     1203.0      M
3         M        11.42         20.38           77.58      386.1      M
4         M        20.29         14.34          135.10     1297.0      M

## Modelo completo com separação dos conjuntos de treinamento e teste

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.tree import DecisionTreeClassifier

# Entradas e Saídas
X = df[['radius_mean', 'texture_mean', 'perimeter_mean']]
y = df['diagnosis']

# Separação Treinamento e Teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=1984)

# Definição
clf = LogisticRegression()
# clf = KNeighborsClassifier(5)
# clf = DecisionTreeClassifier(random_state=1984)

# Treinamento
clf.fit(X_train,y_train)

# Avaliação
from sklearn import metrics

y_pred = clf.predict(X_test)

cm = metrics.confusion_matrix(y_test, y_pred)
print(cm)
print(metrics.accuracy_score(y_test, y_pred))

# Predição
X_new = pd.DataFrame({'radius_mean': [15.1], 'texture_mean': [15.8], 'perimeter_mean': [90]  })
y_pred = clf.predict(X_new)

print(5*'\n' + 'x = ' , X_new, '\npredição = ', y_pred[0])

# Uma forma simples de obter a acuracidade

print(clf.score(X_test,y_test))

[[105   2]
 [  9  55]]
0.935672514619883





x =     radius_mean  texture_mean  perimeter_mean
0         15.1          15.8              90
predição =  B
0.935672514619883

# Transformando atributos categóricos para numéricos.

In [25]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [26]:
df.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [27]:

hot_code = pd.get_dummies(df.day, prefix_sep='_')
df = pd.concat([df,hot_code],axis=1)
df = df.drop(columns=['day'])
df.head()

   total_bill   tip     sex smoker    time  size  Thur  Fri  Sat  Sun
0       16.99  1.01  Female     No  Dinner     2     0    0    0    1
1       10.34  1.66    Male     No  Dinner     3     0    0    0    1
2       21.01  3.50    Male     No  Dinner     3     0    0    0    1
3       23.68  3.31    Male     No  Dinner     2     0    0    0    1
4       24.59  3.61  Female     No  Dinner     4     0    0    0    1

In [28]:
df

     total_bill   tip     sex smoker    time  size  Thur  Fri  Sat  Sun
0         16.99  1.01  Female     No  Dinner     2     0    0    0    1
1         10.34  1.66    Male     No  Dinner     3     0    0    0    1
2         21.01  3.50    Male     No  Dinner     3     0    0    0    1
3         23.68  3.31    Male     No  Dinner     2     0    0    0    1
4         24.59  3.61  Female     No  Dinner     4     0    0    0    1
..          ...   ...     ...    ...     ...   ...   ...  ...  ...  ...
239       29.03  5.92    Male     No  Dinner     3     0    0    1    0
240       27.18  2.00  Female    Yes  Dinner     2     0    0    1    0
241       22.67  2.00    Male    Yes  Dinner     2     0    0    1    0
242       17.82  1.75    Male     No  Dinner     2     0    0    1    0
243       18.78  3.00  Female     No  Dinner     2     1    0    0    0

[244 rows x 10 columns]

# Conjuntos de Treinamento e Teste

Empregue o conjunto de treinamento para o aprendizado do modelo. O conjunto de teste servirá de controle para verificar o resultado do modelo.

<img src="https://github.com/Rogerio-mack/Ciencia-de-Dados-e-Aprendizado-de-Maquina/blob/main/figuras/linearregressionlogitbreast2.PNG?raw=true" width=1200, align="right">

# `y_pred = y_test ?`

In [ ]:
y_pred = logit.predict(X_test)

X_test['diagnosis_pred'] = y_pred
X_test['diagnosis'] = y_test
X_test['are_equal'] = X_test['diagnosis_pred'] == X_test['diagnosis']

X_test

,radius_mean,texture_mean,perimeter_mean,diagnosis_pred,diagnosis,are_equal
333,11.250,14.78,71.38,B,B,True
273,9.742,15.67,61.50,B,B,True
201,17.540,19.32,115.10,M,M,True
178,13.010,22.22,82.01,B,B,True
85,18.460,18.52,121.10,M,M,True
...,...,...,...,...,...,...
101,6.981,13.43,43.79,B,B,True
329,16.260,21.88,107.50,M,M,True
42,19.070,24.81,128.30,M,M,True
432,20.180,19.54,133.80,M,M,True
41,10.950,21.35,71.90,B,M,False

In [ ]:
X_test['are_equal'].sum() / len(X_test)

0.9122807017543859

# Com os respectivos códigos...

<img src="https://github.com/Rogerio-mack/Ciencia-de-Dados-e-Aprendizado-de-Maquina/blob/main/figuras/linearregressionlogitbreast3.PNG?raw=true" width=1200, align="right">