<a href="https://colab.research.google.com/github/Rogerio-mack/Ciencia-de-Dados-e-Aprendizado-de-Maquina/blob/main/ACD_T16_Recommentadion_Systems_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Introdução aos Sistemas de Recomendação

# **CASE**: *Airbnb* RIO DE JANEIRO 

Neste laboratório você vai empregar um sistemas baseados em conteúdo (content-based filtering) para recomendar imóveis semelhantes para uma usuário.

Empregue aqui os seguintes dados:

In [ ]:
# from: http://insideairbnb.com/get-the-data.html
import pandas as pd
df = pd.read_csv('http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2021-09-28/visualisations/listings.csv')
df = df[['id', 'name', 
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 
       'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm']]
df.head()

      id  ... number_of_reviews_ltm
0  17878  ...                    12
1  24480  ...                     0
2  25026  ...                     0
3  35636  ...                     0
4  35764  ...                    35

[5 rows x 12 columns]

# Exercício 1.

Inspeção inicial dos dados. Quantos imóveis existem? Existem dados nulos que compromentem a análise? Que atributos serão empregados para construir o vetor característico $X$ dos imóveis?

In [ ]:
# Seu código

# Exercicio 2.

O vetor característico deve ser numérico para podermos empregar o cálculo de distância (vizinhos mais próximos). Faça o hot encode de `room_type`.

DICA: empregue `pd.get_dummies()`

In [ ]:
# Seu código

# Exercício 3.

Verifique o outro atributo categórico `neighbourhood`. Quantos diferentes valores ele possui?

In [ ]:
# Seu código

Não parece muito razoável fazermos o hot encode desse atributo. Vamos então empregar o label encode. O código a seguir fará essa transformação para você.

In [ ]:
df['neighbourhood'] = df['neighbourhood'].astype('category')
# Assigning numerical values and storing in another column
df['neighbourhood_code'] = df['neighbourhood'].cat.codes
df.head()

# Check...

Ao final seu dataframe deve conter as seguintes colunas e tamanho...

In [ ]:
df.columns

Index(['id', 'name', 'neighbourhood', 'latitude', 'longitude', 'price',
       'minimum_nights', 'number_of_reviews', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room',
       'neighbourhood_code'],
      dtype='object')

In [ ]:
len(df)

23414

# Exercício 4.

Considere que um cliente tenha alugado ou selecionado o seguinte imóvel no Airbnb:

In [ ]:
df[ df.id == 41130972 ]

             id  ... neighbourhood_code
16954  41130972  ...                 33

[1 rows x 16 columns]

Complete o código abaixo para empregar o modelo de k-vizinhos mais próximos (não supervisionado) para encontrar os 3 imóveis mais semelhantes a esse imóvel para que possam ser recomendados para o cliente. Observe a semelhança de `latitude`,`longitude`,`price` e `minimum_nights`.

In [ ]:
from sklearn.neighbors import ...

X = ...

n_neighbors = ...

knn = ...

knn.fit( ... )

# Select a song from a user
item_selected = df[ df.id == 41130972 ]
display(item_selected.id)
item_selected = item_selected[X.columns] # Você entende o que está sendo feito aqui? Explique

# Determine the neighbors
d, neighbors = knn.kneighbors(item_selected.values.reshape(1, -1))
neighbors = neighbors[0][1::] 
d = d[0][1::] 

neighbors_ids = df.iloc[ neighbors ].id

print('item_selected:')
print(item_selected)
print('Neighbors:')
print(neighbors)
print('Distance:')
print(d)
print('Neighbors_ids:')
print(neighbors_ids)

In [ ]:
# Determine the suggested items
suggested_items = ...

print('Suggested items:')
print(suggested_items)
print('Suggested items:')
display(df[ df.id.isin(suggested_items) ] )

# Exercício 5.

Esse modelo é sensível à normalização? Aplique a normalização `scale` dos dados e verifique. Houve alteração das recomendações?

In [ ]:
# seu código